.modalBodyDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.reviewMess{
  height:250px;
  overflow-y: scroll;
}

.pContent{
  height:150px;
  overflow-y: scroll;
}

.divRevRat{
  display: flex;
  flex-wrap: wrap;
}
